#main_body {
    min-height: 2300px;
}

#body_workexp{
    min-height: 4000px;
}

.navbar{
    font-family: "Audiowide", sans-serif;
}

#hero_intro h1 {
    color: #ffffff;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    margin-top: 90px;
    font-family: "Audiowide", sans-serif;
    width: 800px;
}

#footer_design{
    color: white;
    font-family: "Audiowide", sans-serif;
}

.btn-primary{
    background-color: rgba(22, 22, 78, 0.765);
}

.btn-success{
    background-color: rgba(0, 128, 0, 0.404);
}

.intro_group {
    margin-top: 200px;
    width: 100%;
    height: 300px;
}

.profile_group {
    margin-top: 150px;
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 3%;
    background-image: url('./image/profile_pic.jpg');
    background-size: cover;
    background-position: center;
}

#type-text {
    color: #ffffff;
    font-family: "Electrolize", sans-serif;
    font-size: 1.2rem;
}

.intro-text {
    font-size: 10px;
    visibility: hidden;
    text-shadow: 2px 2px 2px black;
    left: 43%;
    margin-right: 5%;
}

/* .corner-svg {
    position: absolute;
    bottom: -5%;
    left: 35%;
    z-index: 3;
    width: 50px; 
    height: 50px;
    rotate: 90deg;
} */

#construction {
    padding: 10%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 28px;
}

#construction img {
    max-width: auto;
    height: auto; 
}

.selections {
    font-family: "Electrolize", sans-serif;
} 

.education{
    border-color: #26befab2;
    background-color: #048cfc6c;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    color: #ffffff;
}

.workex_skill {
    border-color: #9457f7b2;
    background-color: #40079bb7;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    color: #ffffff;
}

.hobby {
    border-color: #ff6fbeb2;
    background-color: rgba(105, 18, 69, 0.884);
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    color: #ffffff;
}

.content_wrapper{
    display:flex;
    flex-direction: column;
    min-height: 100%;
}

.wrap_scroll {
    margin-top: 0%;
}

/* @media (min-width:919.99px) { */

    .intro_group:hover .profile_hover div{
        transform: translateX(-330px);
    }

    .intro_group:hover .intro-text {
        visibility: visible;
    }

/* } */


@media (max-width:800px) {

    #main_body {
        min-height: 3500px;   
    }

    #body_workexp {
        min-height: 7000px;
    }

    .profile-pic {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-image: url('./image/profile_pic.jpg');
        background-size: cover;
        background-position: center;
    }

    .intro_group {
        margin-top: 110px;
        width: 100%;
        height: 300px;   
    }

    #hero_intro h1 {
        color: #ffffff;
        text-shadow: 2px 2px 2px black;
        font-family: "Audiowide", sans-serif;   
        font-size: 1.5rem;
    }

    .intro_group:hover .profile_hover div {
        transform: none !important;
    }

    .intro-text {
        visibility: visible;
        text-shadow: 2px 2px 2px black;
        margin-top: 60%;
        left:50%;
        max-width: 90%;
        margin-left: -30%;
        margin-right: 10%;
        /* transform: translate(-50%, -50%); */
    }

    #type-text {
        color: #ffffff;
        font-family: "Electrolize", sans-serif;
        font-size: 1rem;
    }

    .wrap_scroll {
        margin-top: 50%;
    }

}



#sw_overall{
    font-family: "Exo 2", sans-serif;
    color: white;
}

#sw_overall .div_bg_colour{
    background-color: #000000c2;
    z-index: 3;
}
 
#cert{
    margin-bottom: 10%;
}