html {
    scroll-behavior: smooth;
}

body {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}

#main_body {
    min-height: 3000px;
}

#body_workexp{
    min-height: 4500px;
}

.navbar{
    font-family: "Audiowide", sans-serif;
}

#hero_intro h1 {
    color: #ffffff;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    font-family: "Audiowide", sans-serif;
}

#footer_design{
    color: white;
    font-family: "Audiowide", sans-serif;
}

.btn-primary{
    background-color: rgba(22, 22, 78, 0.765);
}

.btn-success{
    background-color: rgba(0, 128, 0, 0.315);
}

.nav-item .btn-outline-light {
    background-color: #ffffff25;
}

.nav-item .btn-outline-light:hover {
    background-color: #ffffff;
    color: black;
}


.profile_group {
    display: flex;
    justify-content: end;
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 3%;
    background-image: url('./image/profile_pic.jpg');
    background-size: cover;
    background-position: center;
}

#type-text {
    color: #ffffff;
    font-family: "Electrolize", sans-serif;
    font-size: 1.2rem;
}

.intro-text {
    font-size: 10px;
    visibility: visible;
    text-shadow: 2px 2px 2px black;
}

.selections {
    font-family: "Electrolize", sans-serif;
} 

.education{
    border-color: #26befab2;
    background-color: #048cfc6c;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    color: #ffffff;
}

.workex_skill {
    border-color: #9457f7b2;
    background-color: #40079bb7;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    color: #ffffff;
}

.hobby {
    border-color: #ff6fbeb2;
    background-color: rgba(105, 18, 69, 0.884);
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    color: #ffffff;
}

.btn-shiny {
    position: relative;
    overflow: hidden;
    border-color: #fff;
    color: #fff;
    background: transparent;
}

.btn-shiny::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-25deg);
    animation: shine 2s infinite;
}

@keyframes shine {
    0% {
        left: -75%;
    }

    100% {
        left: 125%;
    }
}

.btn-shiny {
    box-shadow: 
    0 0 10px rgba(255, 255, 255, 0.6), 
    0 0 20px rgba(255, 255, 255, 0.4),
    0 0 30px rgba(255, 255, 255, 0.2);
}

.content_wrapper{
    display:flex;
    flex-direction: column;
    min-height: 100%;
}

.bookmark-bar {
    position: fixed;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.tab:hover,
.tab:focus {
    background: #555;
}

.tab {
    writing-mode: vertical-rl;
    transform: rotate(360deg);
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: transform 0.3s, margin-left 0.3s;
    border-radius: 5px 5px 0 0; 
}

#sw_overall {
    font-family: "Exo 2", sans-serif;
    color: white;
}

#sw_overall .div_bg_colour {
    background-color: #000000c2;
    z-index: 3;
}

#cert {
    margin-bottom: 10%;
}

#my_hobby {
    font-family: "Exo 2", sans-serif;
    color: white;
    min-height: 3800px;
}

#my_hobby .div_bg_colour {
    background-color: #000000c2;
    z-index: 3;
}

.carousel-inner img {
    margin: auto;
}

#player video source {
    margin: auto;
}

.carousel-caption-top {
    top: 20px;
    bottom: auto;
}


#closing_statement {
    color: #ffffff;
    font-family: "Electrolize", sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}

@media (max-width:800px){

    #main_body {
            min-height: 4500px;
    }

    #body_workexp {
        min-height: 7000px;
    }

    #my_hobby {
        min-height: 5800px;   
    }
    
    .profile_group {
        display: flex;
        justify-content: center;   
    }

    .intro-text{
        margin-top: 10%;
    }
}



